
.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border: .05rem solid #5755d9;
  border-radius: .1rem;
  color: #5755d9;
  cursor: pointer;
  display: inline-block;
  font-size: .8rem;
  height: 1.8rem;
  line-height: 1.2rem;
  outline: none;
  padding: .25rem .4rem;
  text-align: center;
  text-decoration: none;
  transition: background .2s, border .2s, box-shadow .2s, color .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;


&:focus {
  box-shadow: 0 0 0 .1rem rgba(87, 85, 217, .2);
}

&:focus,
&:hover {
  background: #f1f1fc;
  border-color: #4b48d6;
  text-decoration: none;
}

&:active,
&.active {
  background: #4b48d6;
  border-color: #3634d2;
  color: #fff;
  text-decoration: none;
}
}


.btn.btn-clear {
  background: transparent;
  border: 0;
  color: currentColor;
  height: 1rem;
  line-height: .8rem;
  margin-left: .2rem;
  margin-right: -2px;
  opacity: 1;
  padding: .1rem;
  text-decoration: none;
  width: 1rem;
}

.btn.btn-clear:focus,
.btn.btn-clear:hover {
  background: rgba(247, 248, 249, .5);
  opacity: .95;
}

.btn.btn-clear::before {
  content: "\2715";
}
