/*

<!-- basic dropdown button -->
<div class="dropdown">
  <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
    dropdown menu <i class="icon icon-caret"></i>
  </a>
  <!-- menu component -->
  <ul class="menu">
    ...
  </ul>
</div>

*/

.dropdown {
  display: inline-block;
  position: relative;

  .menu {
    animation: slide-down 0.15s ease 1;
    display: none;
    left: 0;
    max-height: 50vh;
    overflow-y: auto;
    position: absolute;
    top: 100%;
  }

  &dropdown-right .menu {
    left: auto;
    right: 0;
  }

  &active .menu,
  .dropdown-toggle:focus + .menu,
  .menu:hover {
    display: block;
  }

  .btn-group .dropdown-toggle:nth-last-child(2) {
    border-bottom-right-radius: 0.1rem;
    border-top-right-radius: 0.1rem;
  }
}
