/*

<div class="off-canvas">
  <!-- off-screen toggle button -->
  <a class="off-canvas-toggle btn btn-primary btn-action" href="#sidebar-id">
    toggle
  </a>

  <div id="sidebar-id" class="off-canvas-sidebar">
    off-screen sidebar
  </div>

  <a class="off-canvas-overlay" href="#close"></a>

  <div class="off-canvas-content">
    off-screen content
  </div>
</div>
*/


.off-canvas {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
  flex-flow: nowrap;
  height: 100%;
  position: relative;
  width: 100%;


.off-canvas-toggle {
  display: block;
  left: .4rem;
  position: absolute;
  top: .4rem;
  transition: none;
  z-index: 1;
}

.off-canvas-sidebar {
  color: #fff;
  background-color: $main-bg;
  bottom: 0;
  padding: 50px 0 0 50px;
  left: 0;
  min-width: 20rem;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  transition: transform .25s;
  z-index: 200;
}

.off-canvas-content {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: 100%;
  padding: .4rem .4rem .4rem 4rem;
}

.off-canvas-overlay {
  background: rgba(48, 55, 66, .1);
  border-color: transparent;
  border-radius: 0;
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

.off-canvas-sidebar:target,
.off-canvas-sidebar.active {
  transform: translateX(0);
}

.off-canvas-sidebar:target ~ .off-canvas-overlay,
.off-canvas-sidebar.active ~ .off-canvas-overlay {
  display: block;
  z-index: 100;
}

@media (min-width: 960px) {
  .off-canvas.off-canvas-sidebar-show .off-canvas-toggle {
    display: none;
  }
  .off-canvas.off-canvas-sidebar-show .off-canvas-sidebar {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    transform: none;
  }
  .off-canvas.off-canvas-sidebar-show .off-canvas-overlay {
    display: none !important;
  }
}
}
