/*
<ul class="pagination">
  <li class="page-item disabled">
    <a href="#" tabindex="-1">Previous</a>
  </li>
  <li class="page-item active">
    <a href="#">1</a>
  </li>
  <li class="page-item">
    <a href="#">2</a>
  </li>
  <li class="page-item">
    <a href="#">3</a>
  </li>
  <li class="page-item">
    <span>...</span>
  </li>
  <li class="page-item">
    <a href="#">12</a>
  </li>
  <li class="page-item">
    <a href="#">Next</a>
  </li>
</ul>


prev - next post
<ul class="pagination">
  <li class="page-item page-prev">
    <a href="#">
      <div class="page-item-subtitle">Previous</div>
      <div class="page-item-title h5">Getting started</div>
    </a>
  </li>
  <li class="page-item page-next">
    <a href="#">
      <div class="page-item-subtitle">Next</div>
      <div class="page-item-title h5">Layout</div>
    </a>
  </li>
</ul>
*/
.pagination {
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0.2rem 0;
  padding: 0.2rem 0;

  .page-item{
    margin: 0.2rem 0.05rem;

    span {
      display: inline-block;
      padding: 0.2rem 0.2rem;
    }

    a {
      border-radius: 0.1rem;
      display: inline-block;
      padding: 0.2rem 0.4rem;
      text-decoration: none;
      color: rgb(163, 163, 163);
    }

    a:focus,
    a:hover {
      color: #001d38;
    }

    &.disabled a {
      cursor: default;
      opacity: 0.5;
      pointer-events: none;
    }

    &.active a {
      background: #001d38;
      color: #fff;
      border-radius: 3px;
    }

    &.page-prev,
    &.page-next {
      -ms-flex: 1 0 50%;
      flex: 1 0 50%;
    }

    &.page-next {
      text-align: right;
    }

    .page-item-title {
      margin: 0;
    }

    .page-item-subtitle {
      margin: 0;
      opacity: 0.5;
    }
  }
}
