/*
<ul class="step">
  <li class="step-item">
    <a href="#" class="tooltip" data-tooltip="Step 1">Step 1</a>
  </li>
  <li class="step-item active">
    <a href="#" class="tooltip" data-tooltip="Step 2">Step 2</a>
  </li>
  <li class="step-item">
    <a href="#" class="tooltip" data-tooltip="Step 3">Step 3</a>
  </li>
  <li class="step-item">
    <a href="#" class="tooltip" data-tooltip="Step 4">Step 4</a>
  </li>
</ul>
*/
.step {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0.2rem 0;
  width: 100%;

  .step-item {
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    margin-top: 0;
    min-height: 1rem;
    position: relative;
    text-align: center;
  }

  .step-item:not(:first-child)::before {
    background: #5755d9;
    content: "";
    height: 2px;
    left: -50%;
    position: absolute;
    top: 9px;
    width: 100%;
  }

  .step-item {
    a {
      color: #5755d9;
      display: inline-block;
      padding: 20px 10px 0;
      text-decoration: none;
      &::before {
        background: #5755d9;
        border: 0.1rem solid #fff;
        border-radius: 50%;
        content: "";
        display: block;
        height: 0.6rem;
        left: 50%;
        position: absolute;
        top: 0.2rem;
        transform: translateX(-50%);
        width: 0.6rem;
        z-index: 1;
      }
    }

    &.active a::before {
      background: #fff;
      border: 0.1rem solid #5755d9;
    }

    &.active ~ .step-item::before {
      background: #dadee4;
    }

    &.active ~ .step-item a {
      color: #bcc3ce;
    }

    &.active ~ .step-item a::before {
      background: #dadee4;
    }
  }
}
