@use "sass:color";
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat english fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Tajawal;
  src: url("../fonts/Tajawal arabic font/Tajawal-Regular.ttf");
}

$main-bg: #001d38;
$main-color: #f5f7fa;

.tajawal {
  font-family: Tajawal, sans-serif;
}
body {
  font-family: Montserrat, sans-serif;
  text-transform: capitalize;
}
::selection {
  background-color: #333;
  color: #fff;
}
.nice-shadow {
  box-shadow: 0 3px 15px rgba(22, 41, 124, 0.1);
}
.transition {
  transition: 0.5s;
}
.special-header::before {
  content: "";
  display: block;
  height: 3px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  background-color: $main-bg;
  top: 80px;
}

.p-100 {
  padding: 100px 0;
}
.cursor-pointer {
  cursor: pointer;
}
.rotate--90 {
  transform: rotate(-90deg);
}

.btn.btn-aurora {
  background: $main-bg;
  border-color: color.adjust($main-bg, $lightness: 10%);
  color: #fff;
}

.btn.btn-aurora:focus,
.btn.btn-aurora:hover {
  background: color.adjust($main-bg, $lightness: 10%);
  border-color: color.adjust($main-bg, $lightness: 15%);
  color: #fff;
}

.btn.btn-aurora:active,
.btn.btn-aurora.active {
  background: color.adjust($main-bg, $lightness: -10%);
  border-color: color.adjust($main-bg, $lightness: -15%);
  color: #fff;
}

.text-aurora {
  color: $main-bg;
}

.bg-aurora {
  background-color: $main-bg;
}

%skew {
  content: "";
  background-color: $main-color;
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skewY(-6deg);
}

.skew-divider {
  position: relative;
  margin-top: 200px;
  margin-bottom: 200px;
  // margin-bottom: 200px;

  &::before,
  &::after {
    @extend %skew;
  }
  &::before {
    transform-origin: top left;
  }
  &::after {
    transform-origin: bottom right;
  }
}

.skew-divider-top {
  position: relative;
  margin-top: 200px;

  &::before {
    @extend %skew;
    transform-origin: top left;
  }
}

.skew-divider-bottom {
  position: relative;
  margin-bottom: 200px;

  &::before {
    @extend %skew;
    transform-origin: bottom right;
  }
}

.skew-divider-img {
  position: relative;

  &::after {
    background-image: url("../images/background.png");
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(-6deg);
    transform-origin: bottom right;
  }
}
