
/*
<nav class="other-menu">

  <input type="checkbox" class="menu-checkbox" name="menu-checkbox" id="menu-checkbox" />

  <label class="menu-button" for="menu-checkbox">
    <span class="hamburger hamburger-1"></span>
    <span class="hamburger hamburger-2"></span>
    <span class="hamburger hamburger-3"></span>
  </label>


    <a href="#" class="menu-item"> $ </a>
    <a href="#" class="menu-item"> % </a>
    <a href="#" class="menu-item"> @ </a>
    <a href="#" class="menu-item"> * </a>
    <a href="#" class="menu-item"> ! </a>
    <a href="#" class="menu-item"> ~ </a>

</nav>
*/
.other-menu {
    margin: 80px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: left;
  
    .menu-item,
    .menu-button {
      background: tomato;
      border-radius: 100%;
      width: 80px;
      height: 80px;
      margin-left: -40px;
      position: absolute;
      top: 20px;
      color: white;
      text-align: center;
      line-height: 80px;
      transform: translate3d(0, 0, 0);
      transition: 0.3s;
    }
  
    .menu-checkbox {
      display: none;
    }
  
    .menu-button {
      z-index: 2;
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition-duration: 400ms;
      transform: scale(1.1, 1.1) translate3d(0, 0, 0);
      cursor: pointer;
  
      .hamburger {
        width: 25px;
        height: 3px;
        background: #f2f2f2;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -12.5px;
        margin-top: -1.5px;
        transition: 0.3s;
  
        &-1 {
          transform: translate3d(0, -8px, 0);
        }
  
        &-2 {
          transform: translate3d(0, 0, 0);
        }
  
        &-3 {
          transform: translate3d(0, 8px, 0);
        }
      }
    }
  
    .menu-item {
      transition-duration: 180ms;
      &:hover {
        background: white;
        color: #00bcd4;
      }
    }
  
    .menu-button:hover {
      transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    }
  
    .menu-checkbox:checked {
      + .menu-button {
        transition-timing-function: linear;
        transition-duration: 200ms;
        transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  
        .hamburger-1 {
          transform: translate3d(0, 0, 0) rotate(45deg);
        }
        .hamburger-2 {
          transform: translate3d(0, 0, 0) scale(0.1, 1);
        }
        .hamburger-3 {
          transform: translate3d(0, 0, 0) rotate(-45deg);
        }
      }
  
      ~ .menu-item {
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  
        @for $i from 1 through 8 {
          &:nth-child(#{$i + 2}) {
            transition-duration: ($i * 100)+ 90ms;
            transform: translate3d(($i * 110px), 0, 0);
          }
        }
      }
    }
  }
  