nav.py-3.position-relative
  .container
    .d-flex.justify-content-between.align-items-center
      a.brand.text-light.text-decoration-none(href='index.html')
        | Vezeeta
      .menu-toggle#js-menu-toggle.d-md-none
        .hamburger
          span
          span
          span
        .cross
          span
          span

      #main-links.main-links
        ul.list-unstyled.m-0
          li.custom-nav-link.active
            a.text-light.text-hover.text-hover-both-opening-horizontal.nav-link(href='sign-up.html') sign up
          li.custom-nav-link
            a.text-light.text-hover.text-hover-both-opening-horizontal.nav-link(href='login.html') doctors
          li.custom-nav-link
            a.text-light.text-hover.text-hover-both-opening-horizontal.nav-link(href='about-us.html') about
          li.custom-nav-link
            a.text-light.text-hover.text-hover-both-opening-horizontal.nav-link(href='contact-us.html') contact us
          li.custom-nav-link
            a.text-light.text-hover.text-hover-both-opening-horizontal.nav-link.tajawal(href='#') عربي
