/*

<div class="menu-toggle">
  <div class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="cross">
    <span></span>
    <span></span>
  </div>
</div>

document.querySelector('.menu-toggle').onclick = function(){
  this.classList.toggle('open');
}


*/


span {
    display: block;
    background: #d9e4ea;
     transition: 0.25s ease-in-out;
    border-radius: 2px;
  }
  
  .menu-toggle {
    width: 100px;
    height: 100px;
    margin: 50px auto;
    position: relative;
    position: relative;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
     transition: 0.25s ease-in-out;
    &:hover {
      background: rgba(255, 255, 255, 0.8);
    }
    .hamburger {
      position: absolute;
      height: 100%;
      width: 100%;
       transition: 0.25s ease-in-out;
      span {
        width: 60px;
        height: 4px;
        position: relative;
        top: 24px;
        left: 20px;
        margin: 10px 0;
        &:nth-child(1) {
          transition-delay: 0.5s;
        }
        &:nth-child(2) {
          transition-delay: 0.625s;
        }
        &:nth-child(3) {
          transition-delay: 0.75s;
        }
      }
    }
    .cross {
      position: absolute;
      height: 100%;
      width: 100%;
      transform: rotate(45deg);
      span {
        &:nth-child(1) {
          height: 0%;
          width: 4px;
          position: absolute;
          top: 10%;
          left: 48px;
          transition-delay: 0s;
        }
        &:nth-child(2) {
          width: 0%;
          height: 4px;
          position: absolute;
          left: 10%;
          top: 48px;
          transition-delay: 0.25s;
        }
      }
    }
  }
  
  .menu-toggle.open {
    .hamburger {
      span {
        width: 0%;
        &:nth-child(1) {
          transition-delay: 0s;
        }
        &:nth-child(2) {
          transition-delay: 0.125s;
        }
        &:nth-child(3) {
          transition-delay: 0.25s;
        }
      }
    }
    .cross {
      span {
        &:nth-child(1) {
          height: 80%;
          transition-delay: 0.625s;
        }
      }
      span {
        &:nth-child(2) {
          width: 80%;
          transition-delay: 0.375s;
        }
      }
    }
  }
  