head 
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    meta(name="description" content="vezeeta template inspire from vezeeta.com")
    meta(name="keywords" content="HTML, CSS, JavaScript, bootstrap, vezeeta, gulp, scss, sass, pug")
    meta(name="author" content="Mohammed Taysser")
            
    //- style sheet
    //- <link rel="stylesheet" href="css/bootstrap.min.css"/>
    //- <link rel="stylesheet" href="css/nice-select.css"/>
    //- <link rel="stylesheet" href="css/owl.carousel.min.css"/>
    block style

    //- icon tap 
    link(rel="icon" href="../images/favicon.png" type="image/png")

    block title
        title layout