.avatar {
  background: #5755d9;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.85);
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 300;
  height: 5rem;
  width: 5rem;
  line-height: 1.25;
  margin: 0;
  position: relative;
  vertical-align: middle;

  @each $title, $size in (xs: 1, sm: 1.5, lg: 2, xl: 2.5) {
    &.avatar-#{$title} {
      font-size: #{$size}rem;
      height: #{$size * 2}rem;
      width: #{$size * 2}rem;
    }
  }

  img {
    border-radius: 50%;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  .avatar-icon,
  .avatar-presence {
    background: #fff;
    bottom: 14.64%;
    height: 40%;
    padding: 0.1rem;
    position: absolute;
    right: 14.64%;
    transform: translate(50%, 50%);
    width: 40%;
    z-index: 2;
  }

  .avatar-presence {
    background: #bcc3ce;
    border-radius: 50%;
    box-shadow: 0 0 0 0.2rem #fff;
    height: 0.3em;
    width: 0.3em;
    @each $title, $color in (away: #ffb700, busy: #e85600, online: #32b643) {
      &.#{$title} {
        background-color: #{$color};
      }
    }
  }

  &[data-initial]::before {
    color: currentColor;
    content: attr(data-initial);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}
