.card {
  background: #fff;
  box-shadow: 0 .25rem 1rem rgba(48,55,66,.15);
  border-radius: 0.1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  img{
    width:100%;
  }
  .card-header,
  .card-body,
  .card-footer {
    padding: 0.8rem;
    padding-bottom: 0;
  }

  .card-header:last-child,
  .card-body:last-child,
  .card-footer:last-child {
    padding-bottom: 0.8rem;
  }

  .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .card-image {
    padding-top: 0.8rem;

    &:first-child {
      padding-top: 0;
    }

    &:first-child img {
      border-top-left-radius: 0.1rem;
      border-top-right-radius: 0.1rem;
    }

    &:last-child img {
      border-bottom-left-radius: 0.1rem;
      border-bottom-right-radius: 0.1rem;
    }
  }
}
