$text-colors: (
  primary: (
    color: #5755d9,
    hover: #4240d4,
    visited: #6c6ade,
  ),
  secondary: (
    color: #e5e5f9,
    hover: #d1d0f4,
    visited: #cbd0d9,
  ),
  muted: (
    color: #bcc3ce,
    hover: #adb6c4,
    visited: #6c6ade,
  ),
  light: (
    color: #fff,
    hover: #f2f2f2,
    visited: white,
  ),
  dark: (
    color: #3b4351,
    hover: #303742,
    visited: #455060,
  ),
  success: (
    color: #32b643,
    hover: #2da23c,
    visited: #39c94b,
  ),
  warning: (
    color: #ffb700,
    hover: #e6a500,
    visited: #ffbe1a,
  ),
  danger: (
    color: #e85600,
    hover: #cf4d00,
    visited: #ff6003,
  ),
);

$background-colors: (
  primary: #5755d9,
  secondary:  #e5e5f9,
  dark:  #3b4351,
  success:#32b643,
  warning: #ffb700,
  danger: #e85600,
);

@each $title, $detail in $text-colors {
  .text-#{$title} {
    color: map-get($map: $detail, $key: "color");
  }
  a.text-#{$title}:hover,
  a.text-#{$title}:focus {
    color: map-get($map: $detail, $key: "hover");
  }
  a.text-#{$title}:visited {
    color: map-get($map: $detail, $key: "visited");
  }
}

@each $title, $color in $background-colors {
    .bg-#{$title} {
        background-color: $color;
        @if $title != secondary{
            color: #fff;
        }
      }
}
