.moved-label {
  position: relative;
  font-size: 14px;
  padding-top: 20px;
}
.moved-label input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background-color: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
  width: 250px;
  font-size: 14px;
}
.moved-label .placeholder {
  position: absolute;
  left: 12px;
  top: calc(50% + 10px);
  transform: translateY(-50%);
  color: #aaa;
  transition: top 0.3s ease-in-out, font-size 0.3s ease-in-out,
    color 0.3s ease-in-out;
}
.moved-label input:valid + .placeholder,
.moved-label input:focus + .placeholder {
  top: 10px;
  font-size: 12px;
  color: #aaa;
}

// <label class='moved-checkbox'><input type="checkbox"> <span>Red</span></label>

label.moved-checkbox {
  font-size: 0.8rem;
  color: #9e9e9e;

  input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;

    + span {
      position: relative;
      padding-left: 35px;
      cursor: pointer;
      display: inline-block;
      height: 25px;
      line-height: 25px;
      font-size: 1rem;
      user-select: none;
    }

    &:not(:checked) {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }

    &:checked {
      position: absolute;
      opacity: 0;
      pointer-events: none;

      + span::before {
        top: -4px;
        left: -5px;
        width: 12px;
        height: 22px;
        border: 2px solid transparent;
        border-bottom-color: #26a69a;
        border-right-color: #26a69a;
        transform: rotate(40deg);
        backface-visibility: hidden;
        transform-origin: 100% 100%;
      }
    }

    + span::before,
    + span::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      z-index: 0;
      border: 2px solid #5a5a5a;
      border-radius: 1px;
      margin-top: 3px;
      transition: 0.2s;
    }

    + span::after {
      transform: scale(0);
    }
  }
}
