.modal {
  align-items: center;
  bottom: 0;
  display: none;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0.4rem;
  position: fixed;
  right: 0;
  top: 0;

  &:target,
  &.active {
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    z-index: 400;

    .modal-overlay {
      background: rgba(247, 248, 249, 0.75);
      bottom: 0;
      cursor: default;
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    .modal-container {
      animation: slide-down 0.2s ease 1;
      z-index: 1;
    }

  }

  &.modal-sm .modal-container {
    max-width: 320px;
    padding: 0 0.4rem;
  }

  &.modal-lg {
      
    .modal-overlay {
      background: #fff;
    }

    .modal-container {
      box-shadow: none;
      max-width: 960px;
    }
  }
}

.modal-container {
  background: #fff;
  border-radius: 0.1rem;
  box-shadow: 0 0.2rem 0.5rem rgba(48, 55, 66, 0.3);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: 75vh;
  max-width: 640px;
  padding: 0 0.8rem;
  width: 100%;

  .modal-fullheight {
    max-height: 100vh;
  }

  .modal-header {
    color: #303742;
    padding: 0.8rem;
  }

  .modal-body {
    overflow-y: auto;
    padding: 0.8rem;
    position: relative;
  }

  .modal-footer {
    padding: 0.8rem;
    text-align: right;
  }
}
