.pagination {
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0.2rem 0;
  padding: 0.2rem 0;

  .page-item{
    margin: 0.2rem 0.05rem;

    span {
      display: inline-block;
      padding: 0.2rem 0.2rem;
    }

    a {
      border-radius: 0.1rem;
      display: inline-block;
      padding: 0.2rem 0.4rem;
      text-decoration: none;
    }

    a:focus,
    a:hover {
      color: #5755d9;
    }

    &.disabled a {
      cursor: default;
      opacity: 0.5;
      pointer-events: none;
    }

    &.active a {
      background: #5755d9;
      color: #fff;
    }

    &.page-prev,
    &.page-next {
      -ms-flex: 1 0 50%;
      flex: 1 0 50%;
    }

    &.page-next {
      text-align: right;
    }

    .page-item-title {
      margin: 0;
    }

    .page-item-subtitle {
      margin: 0;
      opacity: 0.5;
    }
  }
}
