$position: (fixed, absolute, relative, sticky);
$direction: (
  t: top,
  r: right,
  b: bottom,
  l: left,
  x: (
    right,
    left,
  ),
  y: (
    top,
    bottom,
  ),
);

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

float- {
  &right {
    float: right;
  }
  &left {
    float: left;
  }
}

@use "sass:meta";

$direction: (
  t: top,
  r: right,
  b: bottom,
  l: left,
  x: (
    right,
    left,
  ),
  y: (
    top,
    bottom,
  ),
);

// @each $dir, $title in $direction {
//   @if meta.type-of($title) == list {
//     margin-#{list.nth($title), 0}: 0;
//     margin-#{list.nth($title), 1}: 0;
//   } @else {
//     .m#{$dir}-0 {
//       margin-#{$title}: 0;
//     }
//   }
// }

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex-centered {
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.mt-0 {
  margin-top: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-bottom: 0;
  margin-top: 0;
}

.m-1 {
  margin: 0.2rem;
}

.mb-1 {
  margin-bottom: 0.2rem;
}

.ml-1 {
  margin-left: 0.2rem;
}

.mr-1 {
  margin-right: 0.2rem;
}

.mt-1 {
  margin-top: 0.2rem;
}

.mx-1 {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.my-1 {
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
}

.m-2 {
  margin: 0.4rem;
}

.mb-2 {
  margin-bottom: 0.4rem;
}

.ml-2 {
  margin-left: 0.4rem;
}

.mr-2 {
  margin-right: 0.4rem;
}

.mt-2 {
  margin-top: 0.4rem;
}

.mx-2 {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.my-2 {
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
}

.p-0 {
  padding: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.pt-0 {
  padding-top: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-bottom: 0;
  padding-top: 0;
}

.p-1 {
  padding: 0.2rem;
}

.pb-1 {
  padding-bottom: 0.2rem;
}

.pl-1 {
  padding-left: 0.2rem;
}

.pr-1 {
  padding-right: 0.2rem;
}

.pt-1 {
  padding-top: 0.2rem;
}

.px-1 {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.py-1 {
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
}

.p-2 {
  padding: 0.4rem;
}

.pb-2 {
  padding-bottom: 0.4rem;
}

.pl-2 {
  padding-left: 0.4rem;
}

.pr-2 {
  padding-right: 0.4rem;
}

.pt-2 {
  padding-top: 0.4rem;
}

.px-2 {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.py-2 {
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
}
