
header {
  background-image: url("../images/header/header-4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #f1f1f1c7;
  }
  .real-header {
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    width: 85%;
    left: 50%;
  }

  /* ---------- angle-down ---------*/
  .angle-down {
    right: 50%;
    bottom: 30px;
    transition: all 0.5s ease-in-out;
    animation: top-bottom 2s infinite alternate-reverse;
  }
  @keyframes top-bottom {
    0% {
      bottom: 20px;
    }
    // 25% {
    //   bottom: 30px;
    // }
    50% {
      bottom: 35px;
    }
    // 75% {
    //   bottom: 30px;
    // }
    100% {
      bottom: 20px;
    }
  }
}

.download-app {
  background-color: $main-color;
  &.skew-divider:before,
  &.skew-divider::after {
    background-color: $main-color;
  }
}