extends ../layouts/layout

block title 
	title About Us

//- block style 
//- 	link(rel="stylesheet", href="../css/about-us.min.css")

//- block javascript 
//- 	script(src="../javascript/build/nice-select.min.js") 
//- 	script(src="../javascript/build/scripts.min.js") 

block content 

	include ../components/header

	.about-us.skew-divider
		.container.my-5.py-5.text-muted
			h3.my-4.text-primary.font-weight-bolder.special-header About Us
			p
				a(href="Vezeeta.com") Vezeeta.com
				|  is the leading digital healthcare booking platform and practice management software in MENA. We are pioneering the shift to automated physician, clinic and hospital bookings making healthcare easily accessible in the region.
			p
				| With over 200,000 verified reviews, patients are able to search, compare, and book the best doctors in just 1 minute. Doctors also provide Patients with seamless healthcare experiences through our clinic management software.
			p
				| We operate in Egypt, KSA, Jordan, Lebanon, Kenya and Nigeria. We strive to lead every aspect of the healthcare industry and continue to launch products that have positive impact on people&rsquo;s lives.
			
			ul.list-unstyled 
				li 
					svg.text-aurora.mr-2(xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='currentColor' viewbox='0 0 16 16')
						path(d='M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z')
						path(d='m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z')
					| platform and practice management software in MENA
				li 
					svg.text-aurora.mr-2(xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='currentColor' viewbox='0 0 16 16')
						path(d='M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z')
						path(d='m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z')
					| to launch products that have positive impact on people’s lives.
				li 
					svg.text-aurora.mr-2(xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='currentColor' viewbox='0 0 16 16')
						path(d='M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z')
						path(d='m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z')
					| patients are able to search, compare, and book the best doctors


			a.btn.btn-aurora.btn-sm(href='contact-us.html') contact us


