
extends ../layouts/layout

block title 
	title Doctors Privacy Policy

block content 

	include ../components/header

	.terms-use.text-muted.skew-divider.py-5
		.container
			h3.my-3.text-primary Doctors Privacy Policy
			h4.my-3 Terms and Conditions
			p Thank you for using Vezeeta&apos;s services. These Terms of Service (the &apos;TOS&apos;) are a legally binding agreement made by and between Vezeeta Limited Liability Company, (the &apos;Vezeeta&apos; and/ or &apos;Service Provider&apos;), and you, acting in your capacity as individual and, if applicable, on behalf of the entity, you are legally representing or for whom you are using this application (collectively, &apos;you&apos;, &apos;your&apos;, &apos;yours&apos;).
			p All reference to the T&amp;C encompasses any terms, guidelines, and rules approved/provided by Vezeeta.
			p You understand that by using these services you acknowledge and agree that Vezeeta will treat your use of the Services as an acceptance of the Terms and to be fully bound thereby.
			p These TOS governs your access to and use of &apos;http://www.Vezeeta.com/&apos; in addition to any other World Wide Website owned, operated, licensed, or controlled by Vezeeta (collectively, the &apos;Website&apos;) and the products, services or applications offered or developed by Vezeeta on the Website (collectively the &apos;Products/ Services/Applications&apos;).
			p Vezeeta reserves the right to update or change or amend these TOS at any time, and for any reason by posting the revised version on application in a way that amended T&amp;C affect the existing Vezeeta&apos;s services effective immediately after being posted on the website. The continued access or use of this application and any services contained therein as of the effective date of any such modification shall be deemed by your continuous acceptance of these TOS, as modified.
			p
			a(href='https://www.vezeeta.com/en/Generic/DoctorsPrivacyPolicy ') incorporated herein by reference
			| form legally binding contracts between you and Vezeeta. By using Vezeeta&apos;s Services, and to abide and comply with these TOS. If you do not agree to be bound by the TOS and to follow all applicable laws, guidelines and policies, do not access or use the application or any of Vezeeta&apos;s services.
			p  Vezeeta may also offer other services that are governed by different Terms of Service. Such terms will be set and added accordingly.
			p Vezeeta will retain ownership of its intellectual property rights and you may not obtain any rights therein, except as expressly set forth in a written approval. You will have no right to use, copy, display, perform, create derivative works from, distribute, have distributed, transmit or sublicense from materials or content available on the application, than as may be reasonably necessary to use the Services for their intended purpose and except as expressly set forth in these TOS. You may not attempt to reverse engineer any of the technology used to provide the Services. If you become aware of any conduct that violates these TOS, Vezeeta encourages you to contact us. Vezeeta provides Services accessible on different equipment and devices including but not limited to certain mobile devices, and computers etc., which you are providing for this purpose. Vezeeta is not liable to provide the required devices or the telecommunication facilities i.e., internet connection or mobile service.
			h4.my-3 User Registration and Passwords
			p You do not have to register in order to visit the application. However, in order to access certain features of the services, you will need to register with Vezeeta and create an account through the online registration process on the website. Your account gives you access to the Services and functionality that we may establish and maintain from time to time and in our sole discretion. In creating an account, you must provide Vezeeta with accurate and complete registration information, as prompted in the registration form. You must promptly notify Vezeeta if any of this information changes. If you fail to provide or update this information, Vezeeta may terminate your right to use the application or the Services.
			p In case this is your first approach to Vezeeta, upon the registration is completed, you are kindly requested to contact Vezeeta for opening an account for your practice.
			p  When you open your account, you will be asked to choose a password. You must keep your password confidential and under no circumstances should you respond to a request for your password, particularly a request from an individual claiming to be an employee of Vezeeta. Vezeeta&apos;s employees will never ask for your password. You must notify Vezeeta if you receive such a request.
			p You will be responsible for all use of your password and account, including, without limitation, any use by any unauthorized third party. You must notify Vezeeta immediately if you believe your password or account has been obtained or may be accessed or used by any unauthorized person or entity. In addition, you must notify Vezeeta immediately if you become aware of any other breach or attempted breach of the security of the application.
			p  You are responsible for any activity using your account, whether or not you authorized that activity. You acknowledge that if you wish to protect your transmission of data or files to Vezeeta, it is your responsibility to use a secured encrypted connection to communicate with the Services. Three consecutive logon failures will result in suspension of your login information requiring you to contact the Vezeeta via email to revalidate your account.
			p Thanks
