
extends ../layouts/layout

block title 
	title Login

block content 

	include ../components/header

	.skew-divider
		.container.mt-5.py-5.text-muted
			.row.justify-content-center
				.col-md-8
					h3.mb-5.text-primary login
					form.login-form
						.form-group
							label(for='email-input')
							| Email or mobile
							span.text-danger *
							input#email-input.form-control(required='' type='email')
						// <div class="form-group">
						// <label for="phone-input">mobile number <span class="text-danger">*</span></label>
						// <input required type="tel" class="form-control" id="phone-input">
						// </div>
						.form-group
							label(for='password-input')
							| password 
							span.text-danger *
							input#password-input.form-control(required='' type='password')
						button.btn.btn-primary.mt-5.btn-block(type='submit') Login
					p.mt-3.text-center.d-flex.justify-content-between
						span
							| New User ? 
							a.text-primary.font-weight-bold.pb-1.text-decoration-none.border-bottom.border-danger(href='sign-up.html' style='border-bottom-width: 2px !important;') sign up
						a.text-decoration-none.text-primary(href='#') forgot password
