extends ../layouts/layout

block title 
	title news

block style 
	link(rel="stylesheet", href="../css/news.min.css")

block content 

	include ../components/header

	.news.skew-divider
		.container.my-5.py-5.text-muted
			h3.my-3.text-dark news
			.row.justify-content-center
				.col-md-6.my-3
					.news-item.overflow-hidden.nice-shadow.rounded
						.img.transition.position-relative.overflow-hidden.rounded-top(style="background-image: url('../images/500-500/pexels-charlotte-may-5824907.jpg')")
							.date.rounded.position-absolute.bg-aurora.text-center.text-white(style='top: 0;left: 0;width: 60px;')
								p.font-weight-bold.h4.mb-1.pt-2 20
								p.m-0 sep
								p.m-0 2020
						.content.bg-white.p-2.position-relative.transition.overflow-hidden
							.d-flex.mb-1.mt-2.p-2
								.logo.w-25.text-center
									img(src='../images/avatar/avatar-5.png' alt='user-avatar' style='width: 70px;')
								.title.align-self-center.w-75.font-weight-bold
									h4 how we can run
							p.px-3.pb-2.m-0
								| One of the major structural issues in the Middle East is the lack of consistent healthcare across the region. So this market ...
							a.text-danger.ml-3.mb-1.text-right.text-decoration-none.position-relative(href='#' style='top: 3px;')  read more
				.col-md-6.my-3
					.news-item.overflow-hidden.nice-shadow.rounded
						.img.transition.position-relative.overflow-hidden.rounded-top(style="background-image: url('../images/500-500/pexels-artem-saranin-1046466.jpg')")
							.date.rounded.position-absolute.bg-aurora.text-center.text-white(style='top: 0;left: 0;width: 60px;')
								p.font-weight-bold.h4.mb-1.pt-2 11
								p.m-0 nov
								p.m-0 2021
						.content.bg-white.p-2.position-relative.transition.overflow-hidden
							.d-flex.mb-1.mt-2.p-2
								.logo.w-25.text-center
									img(src='../images/avatar/avatar-1.png' alt='user-avatar' style='width: 70px;')
								.title.align-self-center.w-75.font-weight-bold
									h4 is fruits good ?
							p.px-3.pb-2.m-0
								| One of the major structural issues in the Middle East is the lack of consistent healthcare across the region. So this market ...
							a.text-danger.ml-3.mb-1.text-right.text-decoration-none.position-relative(href='#' style='top: 3px;')  read more
				.col-md-6.my-3
					.news-item.overflow-hidden.nice-shadow.rounded
						.img.transition.position-relative.overflow-hidden.rounded-top(style="background-image: url('../images/500-500/pexels-karolina-grabowska-4219614.jpg')")
							.date.rounded.position-absolute.bg-aurora.text-center.text-white(style='top: 0;left: 0;width: 60px;')
								p.font-weight-bold.h4.mb-1.pt-2 20
								p.m-0 sep
								p.m-0 2020
						.content.bg-white.p-2.position-relative.transition.overflow-hidden
							.d-flex.mb-1.mt-2.p-2
								.logo.w-25.text-center
									img(src='../images/avatar/avatar-2.png' alt='user-avatar' style='width: 70px;')
								.title.align-self-center.w-75.font-weight-bold
									h4 normal news man
							p.px-3.pb-2.m-0
								| One of the major structural issues in the Middle East is the lack of consistent healthcare across the region. So this market ...
							a.text-danger.ml-3.mb-1.text-right.text-decoration-none.position-relative(href='#' style='top: 3px;')  read more
				.col-md-6.my-3
					.news-item.overflow-hidden.nice-shadow.rounded
						.img.transition.position-relative.overflow-hidden.rounded-top(style="background-image: url('../images/500-500/pexels-alex-green-5699522.jpg')")
							.date.rounded.position-absolute.bg-aurora.text-center.text-white(style='top: 0;left: 0;width: 60px;')
								p.font-weight-bold.h4.mb-1.pt-2 30
								p.m-0 jun
								p.m-0 2020
						.content.bg-white.p-2.position-relative.transition.overflow-hidden
							.d-flex.mb-1.mt-2.p-2
								.logo.w-25.text-center
									img(src='../images/avatar/avatar-3.png' alt='user-avatar' style='width: 70px;')
								.title.align-self-center.w-75.font-weight-bold
									h4 baf body
							p.px-3.pb-2.m-0
								| One of the major structural issues in the Middle East is the lack of consistent healthcare across the region. So this market ...
							a.text-danger.ml-3.mb-1.text-right.text-decoration-none.position-relative(href='#' style='top: 3px;')  read more
				.col-md-6.my-3
					.news-item.overflow-hidden.nice-shadow.rounded
						.img.transition.position-relative.overflow-hidden.rounded-top(style="background-image: url('../images/500-500/pexels-markus-spiske-364495.jpg')")
							.date.rounded.position-absolute.bg-aurora.text-center.text-white(style='top: 0;left: 0;width: 60px;')
								p.font-weight-bold.h4.mb-1.pt-2 20
								p.m-0 sep
								p.m-0 2020
						.content.bg-white.p-2.position-relative.transition.overflow-hidden
							.d-flex.mb-1.mt-2.p-2
								.logo.w-25.text-center
									img(src='../images/avatar/avatar-4.png' alt='user-avatar' style='width: 70px;')
								.title.align-self-center.w-75.font-weight-bold
									h4 normal news man
							p.px-3.pb-2.m-0
								| One of the major structural issues in the Middle East is the lack of consistent healthcare across the region. So this market ...
							a.text-danger.ml-3.mb-1.text-right.text-decoration-none.position-relative(href='#' style='top: 3px;')  read more
				.col-md-6.my-3
					.news-item.overflow-hidden.nice-shadow.rounded
						.img.transition.position-relative.overflow-hidden.rounded-top(style="background-image: url('../images/500-500/pexels-skitterphoto-823.jpg')")
							.date.rounded.position-absolute.bg-aurora.text-center.text-white(style='top: 0;left: 0;width: 60px;')
								p.font-weight-bold.h4.mb-1.pt-2 1
								p.m-0 aug
								p.m-0 1999
						.content.bg-white.p-2.position-relative.transition.overflow-hidden
							.d-flex.mb-1.mt-2.p-2
								.logo.w-25.text-center
									img(src='../images/avatar/avatar-5.png' alt='user-avatar' style='width: 70px;')
								.title.align-self-center.w-75.font-weight-bold
									h4 about us
							p.px-3.pb-2.m-0
								| One of the major structural issues in the Middle East is the lack of consistent healthcare across the region. So this market ...
							a.text-danger.ml-3.mb-1.text-right.text-decoration-none.position-relative(href='#' style='top: 3px;')  read more
				