extends ../layouts/layout

block title 
	title About

block content 

	include ../components/header

	.terms-use.skew-divider.py-5.text-muted
		.container
			h3.my-3.text-primary Privacy Policy
			p.text-muted
			| Thank you for using Vezeeta. Your trust is important to us and we are committed to protecting the privacy and security of your personal information. The information you shared with us helps us to provide a great experience with Vezeeta. This Privacy Policy describes our privacy practices for all Services we offer worldwide. The term &ldquo;Vezeeta&rdquo;, &ldquo;us&rdquo; or &ldquo;we&rdquo; refer to Vezeeta LLC and the term &ldquo;User&rdquo;, &ldquo;you&rdquo;, &ldquo;yours&rdquo; refer to yourself as the User of Vezeeta&rsquo;s Services This Privacy Policy, together with the Terms of Use, set forth the general rules and policies governing your use of our platform. Depending on your activities when visiting our platform, you may be required to agree to additional terms and conditions.
			ul.text-muted
				li
					h4.my-3 Information We Collect
					p
					| 1.1. Vezeeta is committed to maintaining privacy protections for its Users. Our Privacy Policy is designated to help you understand how we collect, use and safeguard the information you provide to us. When you visit Vezeeta, we automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device. Additionally, as you browse the Site, we collect information about the individual web pages or doctors that you view, what websites or search terms referred you to Vezeeta, and information about how you interact with Vezeeta.
					p
					| 1.2. We also collect information from you when you register on Vezeeta&rsquo;s Website, book a doctor&rsquo;s appointment or subscribe to our newsletter. When booking or registering on our Website, as appropriate, you may be asked to enter your name, e-mail address, mailing address, phone number, and date of birth (&ldquo;Personal Information&rdquo;).
				li
					h4.my-3 How We Use Your Data 
					p
					| 2.1 We use some of the information we collect to help us screen for potential risk and fraud (in particular, your IP address), and more generally to improve and optimize Vezeeta (for example, by generating analytics about how our customers browse and interact with the site or application, and to assess the success of our marketing and advertising campaigns).
					| 2.2 We use the Personal Information that we collect generally to fulfill any bookings made through Vezeeta, to communicate with you, screen for potential risk or fraud; and when in line with the preferences you have shared with us, provide you with information or advertising relating to our products or services.
				li
					h4.my-3 Your Rights
					p.text-muted
					| 9.1 You have the right granted to obtain from us the confirmation as to whether or not personal data concerning you is being processed. You can contact us at any time to claim this right.
					p.text-muted
					| 9.2 You have the right to request the information that is currently being processed by us. You can also ask us for the purposes of the processing, the categories of personal data concerned; the recipients or categories of recipients to whom the personal data have been or will be disclosed, in particular recipients in third countries or international organizations; where possible, the envisaged period for which the personal data will be stored, or, if not possible, the criteria used to determine that period; the existence of the right to request from the controller rectification or erasure of personal data, or restriction of processing of personal data concerning the data subject, or to object to such processing; the existence of the right to lodge a complaint with a supervisory authority; where the personal data are not collected from the data subject, any available information as to their source.
					p.text-muted
					| 9.3 You have the right to let us know when your information changes, and the information we have on file is no longer accurate. Considering the purposes of the processing, you shall have the right to have incomplete personal data completed, including using providing a supplementary statement.
					p.text-muted
					| 9.4 You have the right to request the erasure of personal data without undue delay.
					p.text-muted
					| 9.5 You shall have the right to receive the personal data concerning you, which was provided to a controller, in a structured, commonly used and machine-readable format.
					p.text-muted
					| 9.6 You shall have the right to object at any time to processing of personal data concerning you. We shall no longer process the personal data in the event of the objection, unless we can demonstrate compelling legitimate grounds for the processing which override the interests, rights and freedoms of you, or for the establishment, exercise or defense of legal claims.
					p.text-muted
					| 9.7 You have the right to withdraw your consent to processing of your personal data at any time.
			p.text-muted Thanks
