extends ../layouts/layout

block title 
	title Sign Up

block style 
	//- link(rel="stylesheet", href="../css/news.min.css")

block content 

	include ../components/header

	.skew-divider
		.container.mt-5.py-5.text-muted
			h3.mb-5.text-primary sign up
			form
				.form-group
					.form-row
						.col
							label(for='first-name')
								| first name 
								span.text-danger *
							input#first-name.form-control(type='text')
						.col
							label(for='last-name')
								| last name 
								span.text-danger *
							input#last-name.form-control(type='text')
				.form-group
					label(for='email-input')
						| Email 
						span.text-danger *
					input#email-input.form-control(required='' type='email' placeholder='example@domain.com')
				.form-group
					label(for='phone-input')
						| mobile number 
						span.text-danger *
					input#phone-input.form-control(required='' type='tel')
				.form-group
				label(for='password-input-1')
					| password 
					span.text-danger *
				input#password-input-1.form-control(required='' type='password')
				.form-group
					label(for='password-input-2')
						| repeat password 
						span.text-danger *
					input#password-input-2.form-control(required='' type='password')
				small.d-block
					| By signing up you agree to our 
					a.text-decoration-none.text-danger(href='terms-of-use.html') 	Terms Of Use
				button.btn.btn-primary.mt-5.btn-block(type='submit') Join Now
			p.mt-3
				span
				| Already Registered ? 
				a.text-primary.font-weight-bold.pb-1.text-decoration-none.border-bottom.border-danger(href='login.html' style='border-bottom-width: 2px !important;') login
