
extends ../layouts/layout

block title 
	title Login

block content 

	include ../components/header
		
	.terms-use.skew-divider.py-5
		.container.text-muted
			h3.my-3.text-primary WEBSITE TERMS OF USE
			p.text-muted
				| Thank you for using our services. To govern the relationship established by your use of Vezeeta.com (&quot;Site&quot;), or our application Vezeeta, (&quot;Application&quot;) and the Services offered by Vezeeta therein, these Terms of Use (&quot;Terms&quot;) constitute a legally binding agreement made between you, either in your capacity as an individual or on behalf of an organization or entity you legally represent (&quot;you,&quot; &quot;your&quot;, &quot;yours&quot;), and Vezeeta LLC, the owner and operator of Vezeeta (&lsquo;Vezeeta&quot;, &quot;us&quot;, &quot;our&quot;). These Terms apply to all users of the site, including without limitation browsers, vendors, customers, providers, and/or contributors of content (&quot;Users&quot;). You understand that Vezeeta or any of Vezeeta&rsquo;s affiliates reserves the right to limit or discontinue your use of the online services if you do not abide by these Terms or at the sole discretion of Vezeeta. By accessing or using any part of the Site or Application, you agree that you have read, understand and agree to be bound by these Terms, as well as additional available guidelines, policies, or rules as applicable to the Site and Application, including, without limitation, the Vezeeta Privacy Policy, which are incorporated by reference into this Terms. IF YOU DO NOT AGREE TO BE BOUND BY THESE TERMS AND TO FOLLOW ALL APPLICABLE LAWS, GUIDELINES AND POLICIES, DO NOT ACCESS OR USE THE SITE.
			p
				| ezeeta and its affiliates consider the privacy of your health information to be one of the most important elements in our relationship with you. Our responsibility to maintain the confidentiality of your health information is one that we take very seriously. We are required by law to maintain the privacy and security of your protected health information. We will let you know promptly if a breach occurs that may have compromised the privacy or security of your information. We will not use or share your information other than as described here. You are the owner of the data and you share it when you need through our Site.
			p
				| You may choose either (i) to pay in cash at the Provider&rsquo;s location at the time of the consultation or (ii) to pay online through our Site or Application. When we collect amounts on behalf of third-party providers, you explicitly agree to adhere to the payment terms of such Provider. Where applicable, we will include any inclusive taxes. We currently accept payment through credit/debit cards, Fawry, and digital wallets. You agree to make all such payments in a timely manner, and acknowledge that you are responsible for any amounts wed to your account. Depending on the Service, we will collect payment before or after the Service is provided.
			p
				| internet technology and applicable laws, rules and regulations change frequently. Accordingly, Vezeeta reserves the right to make changes to this Terms at any time. Your continued use of the Site constitutes assent to any new or modified provision of these Terms that may be posted on the Site. We will post the amended Terms on this page and indicate at the top of the page the date these Terms were last revised.
			p.text-muted Thanks
