include ../helpers/variables

doctype html
html(lang="en")
    include ../includes/head
    body 
        include ../components/navbar
        block content 
        include ../components/footer

    script(src="../javascript/build/nice-select.min.js") 
    script(src="../javascript/build/scripts.min.js") 
    block javascript