@mixin linethrough-closing {
    @include line-options(
      after,
      $transition-property: width,
      $value-of-transitioned-property: math.div($max-value-of-transitioned-property, 2)
    );
  
    @include line-options(
      before,
      $transition-property: width,
      $value-of-transitioned-property: math.div($max-value-of-transitioned-property, 2)
    );
  
    &:after {
      left: 0;
      top: 50%;
      z-index: 9;
    }
  
    &:before {
      top: 50%;
      right: 0%;
      z-index: 9;
    }
  }
  @mixin linethrough-goes-left {
    @include line-options(
      after,
      $transition-property: width,
      $value-of-transitioned-property: $max-value-of-transitioned-property
    );
  
    &:after {
      right: 0;
      top: 50%;
      z-index: 9;
    }
  }
  @mixin linethrough-goes-right {
    @include line-options(
      after,
      $transition-property: width,
      $value-of-transitioned-property: $max-value-of-transitioned-property
    );
  
    &:after {
      left: 0;
      top: 50%;
      z-index: 9;
    }
  }
  @mixin linethrough-opening {
    @include line-options(
      after,
      $transition-property: width,
      $value-of-transitioned-property: $max-value-of-transitioned-property
    );
  
    &:after {
      left: 0;
      top: 50%;
      z-index: 9;
      right: 0;
      margin: 0 auto;
    }
  }
