@mixin move-down {
    @include line-options(
      after,
      $transition-property: top,
      $value-of-transitioned-property: $max-value-of-transitioned-property
    );
    &:after {
      background-color: transparent;
      top: 50%;
      left: 0;
      right: 0;
      width: auto;
    }
  }
  @mixin move-horizontal {
    @include line-options(
      after,
      $transition-property: right,
      $value-of-transitioned-property:
        calc(#{$max-value-of-transitioned-property} - 100%)
    );
    @include line-options(
      before,
      $transition-property: left,
      $value-of-transitioned-property:
        calc(#{$max-value-of-transitioned-property} - 100%)
    );
    &:after {
      background-color: transparent;
      top: 0;
      bottom: 0;
      right: 50%;
      height: auto;
    }
  
    &:before {
      background-color: transparent;
      top: 0;
      bottom: 0;
      left: 50%;
      height: auto;
    }
  }
  @mixin move-left {
    @include line-options(
      after,
      $transition-property: left,
      $value-of-transitioned-property:
        calc(#{$max-value-of-transitioned-property} - 100%)
    );
    &:after {
      background-color: transparent;
      top: 0;
      bottom: 0;
      left: 50%;
      height: auto;
    }
  }
  @mixin move-right {
    @include line-options(
      after,
      $transition-property: right,
      $value-of-transitioned-property:
        calc(#{$max-value-of-transitioned-property} - 100%)
    );
  
    &:after {
      background-color: transparent;
      top: 0;
      bottom: 0;
      right: 50%;
      height: auto;
    }
  }
  @mixin move-up {
    @include line-options(
      after,
      $transition-property: bottom,
      $value-of-transitioned-property: $max-value-of-transitioned-property
    );
    &:after {
      background-color: transparent;
      bottom: 50%;
      left: 0;
      right: 0;
      width: auto;
    }
  }
  @mixin move-vertical {
    @include line-options(
      after,
      $transition-property: top,
      $value-of-transitioned-property:
        calc(#{$max-value-of-transitioned-property} - 100%)
    );
    @include line-options(
      before,
      $transition-property: bottom,
      $value-of-transitioned-property:
        calc(#{$max-value-of-transitioned-property} - 100%)
    );
  
    &:after {
      background-color: transparent;
      top: 50%;
      left: 0;
      right: 0;
      width: auto;
    }
  
    &:before {
      background-color: transparent;
      bottom: 50%;
      left: 0;
      right: 0;
      width: auto;
    }
  }
    