.download-app.skew-divider
  .container.py-5.my-5
    .row
      .col-lg-6.my-3.p-2
        .img.overflow-hidden.text-center
          img(src='../images/smartphone.png' alt='' style='width: 250px')
      .col-lg-6.my-3.p-2
        .content.text-lg-left.text-center.p-2
          h3.my-3.font-weight-bold Download the Application
          p.w-75.mx-auto.mx-lg-1
            | Compare, choose, and book. Track your appointments with ease, rate your doctor&apos;s visit, and order your medicine online.
          a.btn.btn-aurora.my-2.btn-lg(href='#')
            svg.svg-inline--fa.fa-android.fa-w-18.fa-2x.position-relative.mr-1(focusable='false' width='25px' height='25px' fill='currentColor' data-prefix='fab' data-icon='android' role='img' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 576 512' style='top: -2px;')
              path(fill='currentColor' d='M420.55,301.93a24,24,0,1,1,24-24,24,24,0,0,1-24,24m-265.1,0a24,24,0,1,1,24-24,24,24,0,0,1-24,24m273.7-144.48,47.94-83a10,10,0,1,0-17.27-10h0l-48.54,84.07a301.25,301.25,0,0,0-246.56,0L116.18,64.45a10,10,0,1,0-17.27,10h0l47.94,83C64.53,202.22,8.24,285.55,0,384H576c-8.24-98.45-64.54-181.78-146.85-226.55')
            |  Google Play
          a.ml-2.btn.btn-aurora.my-2.btn-lg(href='#')
            svg.svg-inline--fa.fa-apple.fa-w-12.fa-2x.position-relative.mr-1(width='25px' height='25px' fill='currentColor' focusable='false' data-prefix='fab' data-icon='apple' role='img' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 384 512' style='top: -2px;')
              path(fill='currentColor' d='M318.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C63.3 141.2 4 184.8 4 273.5q0 39.3 14.4 81.2c12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z')
            |  App Store
