.offers.px-3.skew-divider(style='background-color: #f5f7fa')
  .container.py-3
    h3.mb-2.d-flex.justify-content-between.align-items-center
      span.font-weight-bold Choose from top offers
      small
        a.text-decoration-none.text-muted.small.d-none.d-md-block(href='#')
          | all offers 
          span.text-danger
            svg.bi.bi-caret-right-fill(xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='currentColor' viewbox='0 0 16 16')
              path(d='m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z')
    .glide.mt-5#js-offers
      .glide__track(data-glide-el='track')
        ul.glide__slides
          li.glide__slide
            .bg-white.nice-shadow.rounded.pb-3.text-muted
              .img.rounded-top.overflow-hidden(style='height:170px;')
                img.img-fluid(src='../images/500-500/pexels-alex-green-5699522.jpg' alt='')
              .content.px-2
                h4.my-3.font-weight-bold teeth cleaning
                p.m-0
                  span(style='text-decoration:line-through;color: rgb(185, 185, 185);') 350 EGP
                  span.text-primary 100 EGP
                small.text-muted 430 offers
          li.glide__slide
            .bg-white.nice-shadow.rounded.pb-3.text-muted
              .img.rounded-top.overflow-hidden(style='height:170px;')
                img.img-fluid(src='../images/500-500/pexels-karolina-grabowska-4219614.jpg' alt='')
              .content.px-2
                h4.my-3.font-weight-bold metal braces
                p.m-0
                  span(style='text-decoration:line-through;color: rgb(185, 185, 185);') 350 EGP
                  span.text-primary 100 EGP
                small.text-muted 430 offers
          li.glide__slide
            .bg-white.nice-shadow.rounded.pb-3.text-muted
              .img.rounded-top.overflow-hidden(style='height:170px;')
                img.img-fluid(src='../images/500-500/pexels-markus-spiske-364495.jpg' alt='')
              .content.px-2
                h4.my-3.font-weight-bold teeth cleaning
                p.m-0
                  span(style='text-decoration:line-through;color: rgb(185, 185, 185);') 350 EGP
                  span.text-primary 100 EGP
                small.text-muted 430 offers
          li.glide__slide
            .bg-white.nice-shadow.rounded.pb-3.text-muted
              .img.rounded-top.overflow-hidden(style='height:170px;')
                img.img-fluid(src='../images/500-500/pexels-charlotte-may-5824907.jpg' alt='')
              .content.px-2
                h4.my-3.font-weight-bold teeth cleaning
                p.m-0
                  span(style='text-decoration:line-through;color: rgb(185, 185, 185);') 350 EGP
                  span.text-primary 100 EGP
                small.text-muted 430 offers
          li.glide__slide
            .bg-white.nice-shadow.rounded.pb-3.text-muted
              .img.rounded-top.overflow-hidden(style='height:170px;')
                img.img-fluid(src='../images/500-500/pexels-skitterphoto-823.jpg' alt='')
              .content.px-2
                h4.my-3.font-weight-bold teeth cleaning
                p.m-0
                  span(style='text-decoration:line-through;color: rgb(185, 185, 185);') 350 EGP
                  span.text-primary 100 EGP
                small.text-muted 430 offers

      .glide__arrows(data-glide-el='controls')
        button.glide__arrow.glide__arrow--left(data-glide-dir='<')
          svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16")
            path(fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z")
        button.glide__arrow.glide__arrow--right(data-glide-dir='>') 
          svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16")
            path(fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z")
