.searching-suggests
  .container.my-5.py-5
    .row
      .col-md-6.my-3
        div.h-100.bg-light.p-3
          h5.my-3.text-muted.font-weight-bold Choose and book from top specialties
          .suggest
            a.btn.btn-sm.btn-link.bg-white.m-1(href='#' role='button') Dermatologist
            a.btn.btn-sm.btn-link.bg-white.m-1(href='#' role='button') Dentist
            a.btn.btn-sm.btn-link.bg-white.m-1(href='#' role='button') Neurologist
            a.btn.btn-sm.btn-link.bg-white.m-1(href='#' role='button') Orthopedist
            a.btn.btn-sm.btn-link.bg-white.m-1(href='#' role='button') Gynecologist
            a.btn.btn-sm.btn-link.bg-white.m-1(href='#' role='button') ENT Doctor
            a.btn.btn-sm.btn-link.bg-white.m-1(href='#' role='button') view more ...
      .col-md-6.my-3
        div.h-100.bg-light.p-3
          h5.my-3.text-muted.font-weight-bold Choose and book from top cities
          .suggest
            a.btn.btn-sm.btn-link.bg-white.m-1(href='#' role='button') Menoufia
            a.btn.btn-sm.btn-link.bg-white.m-1(href='#' role='button') Gharbia
            a.btn.btn-sm.btn-link.bg-white.m-1(href='#' role='button') Cairo
            a.btn.btn-sm.btn-link.bg-white.m-1(href='#' role='button') Giza
            a.btn.btn-sm.btn-link.bg-white.m-1(href='#' role='button') Alexandria
            a.btn.btn-sm.btn-link.bg-white.m-1(href='#' role='button') El-Dakahlia
            a.btn.btn-sm.btn-link.bg-white.m-1(href='#' role='button') view more ...
