.specialises.py-5
  .container
    h3.my-3.font-weight-bold Book from top specialties
    .glide.mt-5#js-specializes
        .glide__track(data-glide-el='track')
            ul.glide__slides.py-2
                li.glide__slide
                    .bg-white.nice-shadow.rounded.pb-3
                        .img.rounded-top.overflow-hidden(style='height:170px;')
                            img.img-fluid(src='../images/500-500/pexels-alex-green-5699522.jpg' alt='')
                        h4.pl-3.mt-3.font-weight-bold teeth cleaning
                li.glide__slide
                    .bg-white.nice-shadow.rounded.pb-3
                        .img.rounded-top.overflow-hidden(style='height:170px;')
                            img.img-fluid(src='../images/500-500/pexels-karolina-grabowska-4219614.jpg' alt='')
                        h4.pl-3.mt-3.font-weight-bold teeth cleaning
                li.glide__slide
                    .bg-white.nice-shadow.rounded.pb-3
                        .img.rounded-top.overflow-hidden(style='height:170px;')
                            img.img-fluid(src='../images/500-500/pexels-markus-spiske-364495.jpg' alt='')
                        h4.pl-3.mt-3.font-weight-bold teeth cleaning
                li.glide__slide
                    .bg-white.nice-shadow.rounded.pb-3
                        .img.rounded-top.overflow-hidden(style='height:170px;')
                            img.img-fluid(src='../images/500-500/pexels-charlotte-may-5824907.jpg' alt='')
                        h4.pl-3.mt-3.font-weight-bold teeth cleaning
                li.glide__slide
                    .bg-white.nice-shadow.rounded.pb-3
                        .img.rounded-top.overflow-hidden(style='height:170px;')
                            img.img-fluid(src='../images/500-500/pexels-skitterphoto-823.jpg' alt='')
                        h4.pl-3.mt-3.font-weight-bold teeth cleaning
        .glide__arrows(data-glide-el='controls')
            button.glide__arrow.glide__arrow--left(data-glide-dir='<')
                svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16")
                    path(fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z")
            button.glide__arrow.glide__arrow--right(data-glide-dir='>') 
                svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16")
                    path(fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z")