
  .btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: .05rem solid #5755d9;
    border-radius: .1rem;
    color: #5755d9;
    cursor: pointer;
    display: inline-block;
    font-size: .8rem;
    height: 1.8rem;
    line-height: 1.2rem;
    outline: none;
    padding: .25rem .4rem;
    text-align: center;
    text-decoration: none;
    transition: background .2s, border .2s, box-shadow .2s, color .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .btn:focus {
    box-shadow: 0 0 0 .1rem rgba(87, 85, 217, .2);
  }
  
  .btn:focus,
  .btn:hover {
    background: #f1f1fc;
    border-color: #4b48d6;
    text-decoration: none;
  }
  
  .btn:active,
  .btn.active {
    background: #4b48d6;
    border-color: #3634d2;
    color: #fff;
    text-decoration: none;
  }
  
  .btn:active.loading::after,
  .btn.active.loading::after {
    border-bottom-color: #fff;
    border-left-color: #fff;
  }
  
  .btn[disabled],
  .btn:disabled,
  .btn.disabled {
    cursor: default;
    opacity: .5;
    pointer-events: none;
  }
  
  .btn.btn-primary {
    background: #5755d9;
    border-color: #4b48d6;
    color: #fff;
  }
  
  .btn.btn-primary:focus,
  .btn.btn-primary:hover {
    background: #4240d4;
    border-color: #3634d2;
    color: #fff;
  }
  
  .btn.btn-primary:active,
  .btn.btn-primary.active {
    background: #3a38d2;
    border-color: #302ecd;
    color: #fff;
  }
  
  .btn.btn-primary.loading::after {
    border-bottom-color: #fff;
    border-left-color: #fff;
  }
  
  .btn.btn-success {
    background: #32b643;
    border-color: #2faa3f;
    color: #fff;
  }
  
  .btn.btn-success:focus {
    box-shadow: 0 0 0 .1rem rgba(50, 182, 67, .2);
  }
  
  .btn.btn-success:focus,
  .btn.btn-success:hover {
    background: #30ae40;
    border-color: #2da23c;
    color: #fff;
  }
  
  .btn.btn-success:active,
  .btn.btn-success.active {
    background: #2a9a39;
    border-color: #278e34;
    color: #fff;
  }
  
  .btn.btn-success.loading::after {
    border-bottom-color: #fff;
    border-left-color: #fff;
  }
  
  .btn.btn-error {
    background: #e85600;
    border-color: #d95000;
    color: #fff;
  }
  
  .btn.btn-error:focus {
    box-shadow: 0 0 0 .1rem rgba(232, 86, 0, .2);
  }
  
  .btn.btn-error:focus,
  .btn.btn-error:hover {
    background: #de5200;
    border-color: #cf4d00;
    color: #fff;
  }
  
  .btn.btn-error:active,
  .btn.btn-error.active {
    background: #c44900;
    border-color: #b54300;
    color: #fff;
  }
  
  .btn.btn-error.loading::after {
    border-bottom-color: #fff;
    border-left-color: #fff;
  }
  
  .btn.btn-link {
    background: transparent;
    border-color: transparent;
    color: #5755d9;
  }
  
  .btn.btn-link:focus,
  .btn.btn-link:hover,
  .btn.btn-link:active,
  .btn.btn-link.active {
    color: #302ecd;
  }
  
  .btn.btn-sm {
    font-size: .7rem;
    height: 1.4rem;
    padding: .05rem .3rem;
  }
  
  .btn.btn-lg {
    font-size: .9rem;
    height: 2rem;
    padding: .35rem .6rem;
  }
  
  .btn.btn-block {
    display: block;
    width: 100%;
  }
  
  .btn.btn-action {
    padding-left: 0;
    padding-right: 0; 
    width: 1.8rem;
  }
  
  .btn.btn-action.btn-sm {
    width: 1.4rem;
  }
  
  .btn.btn-action.btn-lg {
    width: 2rem;
  }
  
  .btn.btn-clear {
    background: transparent;
    border: 0;
    color: currentColor;
    height: 1rem;
    line-height: .8rem;
    margin-left: .2rem;
    margin-right: -2px;
    opacity: 1;
    padding: .1rem;
    text-decoration: none;
    width: 1rem;
  }
  
  .btn.btn-clear:focus,
  .btn.btn-clear:hover {
    background: rgba(247, 248, 249, .5);
    opacity: .95;
  }
  
  .btn.btn-clear::before {
    content: "\2715";
  }
  
  .btn-group {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .btn-group .btn {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
  
  .btn-group .btn:first-child:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  
  .btn-group .btn:not(:first-child):not(:last-child) {
    border-radius: 0;
    margin-left: -.05rem;
  }
  
  .btn-group .btn:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -.05rem;
  }
  
  .btn-group .btn:focus,
  .btn-group .btn:hover,
  .btn-group .btn:active,
  .btn-group .btn.active {
    z-index: 1;
  }
  
  .btn-group.btn-group-block {
    display: -ms-flexbox;
    display: flex;
  }
  
  .btn-group.btn-group-block .btn {
    -ms-flex: 1 0 0;
    flex: 1 0 0;
  }
  